@import url('https://fonts.googleapis.com/css2?family=Alata&family=Encode+Sans+SC:wght@300&family=Jost:wght@300&family=Mukta:wght@300&display=swap');

body {
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(3, 255, 3);
}

.bodyIndex header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}

/* INICIO */

/* HEADER */

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 1000px;
    background-image: url(./multimedia/jack-b-B10AxHKLvnQ-unsplash\ \(1\).jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(./images/ropa/valen13.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(25%);
    z-index: -1;
}

.sectionHeader {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 1000px;
    width: 100%;
}

.tituloInicio {
    text-align: center;
    text-decoration: underline;
    color: #359d15;
    font-size: 40px;
    padding-bottom: 100px;
}

.links {
    color: #359d15;
    font-size: 200%;
    font-weight: normal;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.5s;
}

.links:hover {
    color: #000;
    text-decoration: none;
}

.tituloCarru {
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

.carousel-item {
    text-align: center;
}

h3 {
    font-size: 25;
    text-decoration: underline;
}





/* MAIN */
.ofrecemos {
    width: 100%;
    height: 500px;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.imgofre {
    border: 2px solid #000;
    grid-column: 1/3;
    margin-top: 30px;
}

.lista {
    font-size: 25px;
    text-align: left;
    grid-column: 3/4;
    grid-row: 1/4;
}

.tituloLista {
    text-align: center;
    margin-top: 70px;
}

.btn {
    font-size: 15px;
    color: #000;
    margin-top: 220px;
    transition: 0.5s;
}

.imgRep {
    background-image: url(./multimedia/blaz-erzetic-g5f0BJq-FRs-unsplash.jpg);
    border: 2px solid #000;
    height: 500px;
    width: 800px;
    background-position: center;
    background-size: cover;
    text-align: center;
    filter: brightness(70%);
    z-index: -1;
    margin-left: 360px;
}


.imgProd {
    background-image: url(./multimedia/christian-wiediger-kf_korybd1g-unsplash.jpg);
    border: 2px solid #000;
    height: 500px;
    width: 800px;
    background-position: center;
    background-size: cover;
    text-align: center;
    filter: brightness(60%);
    z-index: -1;
    margin-left: 360px;
}



/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 130px;
}

.copyfooter {
    text-decoration: none;
    font-size: 20px;
}

.redes {
    background-color: #000;
    text-align: center;
    font-size: 130%;
    text-decoration: none;
    padding-top: 70px;
}


/* PESTAÑA DE CONTACTO */

.tituloCon {
    background-color: #3bfe00;
    color: black;
    text-align: left;
    margin: 10px;
}

.enlacesCon {
    background-color: #3bfe00;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.contacto {
    background-color: #3bfe00;
}

.tituloMap {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.mapa {
    text-align: center;
}

.telefono {
    text-align: center;
}

.consultas {
    text-decoration: underline;
    font-size: 25px;
}

.textarea {
    min-width: 490px;
    max-width: 490px;
    min-height: 250px;
}

/*  PESTAÑA SERVICIOS */

.tituloSer {
    text-align: left;
    background-color: #3bfe00;
    color: black;
    margin: 10px;
}

.enlacesSer {
    background-color: #3bfe00;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.servicios {
    background-color: #3bfe00;
}

.titulopc {
    text-align: center;
    font-size: 30px;
}

.imagenPc {
    height: 600px;
    width: 850px;
}

.arreglandopc {
    width: auto;
    text-align: center;
}

.titulocel {
    text-align: center;
    font-size: 30px;
}

.arreglandoCel {
    height: 600px;
    width: auto;
    text-align: center;
    margin-top: 10px;
}

.garan {
    font-size: 10px;
    font-weight: bold;
}


/* PESTAÑA PRODUCTOS */

.tituloProd2 {
    background-color: #3bfe00;
    text-align: left;
    color: black;
    margin: 10px;
}

.enlacesProd {
    background-color: #3bfe00;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.productos {
    background-color: #3bfe00;
}

.tituloProd3 {
    color: #3bfe00;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

.tecladoProd {
    height: 500px;
    width: auto;
    text-align: center;
}

.ramProd {
    height: 450px;
    width: auto;
    text-align: center;
    margin-top: 50px;
}

.gabineteProd {
    height: 500px;
    width: auto;
    text-align: center;
    margin-top: 80px;
}

.motherProd {
    height: 550px;
    width: auto;
    text-align: center;
    margin-top: 90px;
}

/* PESTAÑA NOSOTROS */

.tituloNos {
    background-color: #3bfe00;
    text-align: left;
    color: black;
    margin: 10px;
}

.enlacesNos {
    background-color: #3bfe00;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.nosotros {
    background-color: #3bfe00;
}

.fondoNos {
    height: 1200px;
    width: 1600px;
}